/* CSS declarations go here */
.top-bar{
	background-color: #FFFFFF;
}
#login-dropdown-list {
	position: absolute;
	top: 5px;
	left: -145px;
}

#login-buttons .login-close-text {
	float: right;
	position: relative;
	padding-bottom: 8px;
	background-color: #FFFFFF;
	height: 45px;
	font-size: 11pt;
}

#back-to-login-link {
	float: right;
	background-color: white;
}

#login-buttons #signup-link {
	float: right;
	background-color: #FFFFFF;
}

#game-panel { 
	position: relative; 
	display: inline;
	width: 500px;
	max-width:500px;
	min-width: 500px;
	align-items: center
}

.game-panel-image{
	position: absolute;
	top: 0px;
	left: 147px;

}

#resultspanel{
	position: absolute;
	top: 450px;
	left: 0px;
}

.game-start-button {
	position: absolute; 
	width: 120px;
	text-align: center;
	top: 260px; 
	left: 450px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#chart1{
	position: absolute; 
	top: 450px;

}

.ct-series-a .ct-slice-pie {
	/* fill of the pie slieces */
	fill: hsl(100, 40%, 60%);
	/* give your pie slices some outline or separate them visually by using the background color here */
	stroke: #B6A094;
	/* outline width */
	stroke-width: 4px;
}

.alterlogin{
	position: absolute; 
	top: 330px;
	left: 45%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 120px;
}

.time-countdown{
	position: absolute; 
	top: 330px;
	left: 45%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 120px;
}

a.rock-button{
	position: absolute;
	top: 457px;
	left: 407px;
}
a.paper-button{
	position: absolute;
	top: 63px;
	left: 630px;
}
a.scissors-button{
	position: absolute;
	top: 63px;
	left: 173px;
}



