<template name="gamesCreate">

    <h3>Create Game Room</h3>

    <div class="panel panel-default">
        <div class="panel-body">
            {{#if currentUser._id }}
            <form id="game-create">
                <div class="form-group">
                    <label for="form-create-title">Title</label>
                    <input type="text" class="form-control" id="form-create-title" placeholder="give it a name..."/>
                </div>
                <button type="submit" class="btn btn-default" id="game-create-submit" title="Create new game">Create</button>
            </form>
            {{ else }}
            <p class="mb0">Please login...</p>
            {{/ if }}
        </div>
    </div>

</template>